.star path, .border {
  stroke: #444444; }

.border {
  fill: none; }

svg {
  display: block; }

#selectable svg, #selectable ul {
  float: left; }
#selectable ul {
  font-size: 12px; }

#categories div {
  display: inline-block; }
