%html
  %head
    %title<
      language benchmark visualizations
    %script{:src => "https://raw.github.com/mbostock/d3/master/d3.min.js"}
    %script{:src => "blog.js"}
    :css
      svg, ul {
        float: left; }
      .star line {
        stroke: #444;
        opacity: .5; }
      .benchmark {
        fill: #a66;
        opacity: .6; }
  %body
