%html
  %head
    %title<
      language benchmark visualizations
    %script{:src => "https://raw.github.com/mbostock/d3/master/d3.min.js"}
    %script{:src => "smallMultiples.js"}
    %script{:src => "types.js"}
    %script{:src => "lambdas.js"}
    %script{:src => "languages.js"}
    %link{:rel => "stylesheet", :href => "style.css"}
  %body
    #selectable
    #allstars
    #lambdas
    #categories
