%html
  %head
    %title<
      language benchmark visualizations
    %script{:src => "https://raw.github.com/mbostock/d3/master/d3.min.js"}
    %script{:src => "languages.js"}
    :css
      #viz div {
        display: inline-block; }
      #viz svg {
        display: block; }
  %body
    #viz
