// language viz styles

.star path, .border
    stroke: #444

.benchmark
    fill: #d88
    opacity: .6

.border
    fill: none

svg
    display: block

#describe, #selectable, #allstars, #lambdas, #categories
    margin: 35px
    display: block
    clear: both

#describe
    font-family: sans-serif

    .axes
        fill: #555
        font-size: 12px
        font-weight: bold

    .ideal, .system, .script, .obselete
        fill: #392
        opacity: .6
        font-weight: bold

    .ideal
        font-size: 32px
    .system
        font-size: 28px
    .script
        font-size: 24px
    .obselete
        font-size: 20px

#selectable
    svg, ul
        float: left
    ul
        margin: 25px 25px
        max-height: 250px
        max-width: 400px
        font-size: 12px

    ul li
        float: left
        width: 50%

#allstars, #lambdas, #categories
    div
        display: inline-block

#lambdas
    .lambda
        fill: #7f8
    .c
        fill: #8cf
    .other
        fill: #ccc

#categories
    .imperative
        fill: #6da
    .oo
        fill: #97e
    .functional
        fill: #fe7
    .scripting
        fill: #fa7
