// language viz styles

.star path, .border
    stroke: #444

.benchmark
    fill: #d88
    opacity: .6

.border
    fill: none

svg
    display: block

#selectable, #allstars, #lambdas, #categories
    margin: 35px
    display: block
    clear: both

#selectable
    svg, ul
        float: left
    ul
        margin: 25px 25px
        max-height: 250px
        max-width: 400px
        font-size: 12px

    ul li
        float: left
        width: 50%

#allstars, #lambdas, #categories
    div
        display: inline-block

#lambdas
    .lambda
        fill: #7f8
    .c
        fill: #8cf
    .other
        fill: #ccc

#categories
    .imperative
        fill: #6da
    .oo
        fill: #97e
    .functional
        fill: #fe7
    .scripting
        fill: #fa7
