// language viz styles

.star path, .border
    stroke: #444

.border
    fill: none

svg
    display: block

#selectable
    svg, ul
        float: left
    ul
        font-size: 12px

#categories
    div
        display: inline-block
